.section10-item4{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.section10-item4-h2{
  color: #0E1133;
  font-size: 20px;
}
.section10-item4-a{
  color: #505056;
  font-size: 15px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
}
.section10-item4-a:hover{
  color: #2A6DF5;
}
