.section6-h2{
  font-size: 44px;
  color: #0E1133;
  margin-top: 50px;
}
.section6-p{
  font-size: 18px;
  color: #505056;
  margin-top: -40px;
}
.section6-h4{
  font-size: 18px;
  color: #0E1133;
  margin-bottom: -10px;
}
.profession{
  font-size: 14px;
  color: #81818D;
}
