<div class="section10">
  <div class="section10-around">
    <app-section10-item1 title="appie." titlespan="Appie WordPress is theme is the last theme you will ever have." titlespan2="Read More"></app-section10-item1>
    <app-section10-item2 title="Company" titlea="About Us" titlea1="Service" title2="Case Studies" title3="Blog" title4="Contact" ></app-section10-item2>
    <app-section10-item3 title="Support" titlea="Community" titlea1="Resources" title2="Faqs" title3="Privacy Policy" title4="Careers"></app-section10-item3>
    <app-section10-item4 title="Get In Touch" titlea="support@appie.com" titlea1="+(642) 342 762 44" title2="442 Belle Terre St Floor 7, Francisco"></app-section10-item4>
  </div>
</div>
