.section10{
  display: flex;
  justify-content: center;
  background: #EEF1F6;
  height: 399px;
  margin-top: 100px;
}
.section10-around{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 70px;
}
