.section2-item{
  margin: 15px;
  border-radius: 5px;
  height: 206px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
}
.section2-item-title {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
