.section10-item2{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.section10-item2-h2{
  color: #0E1133;
  font-size: 20px;
}
.section10-item2-a{
  color: #505056;
  font-size: 15px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 600;
}
.section10-item2-a:hover{
  color: #2A6DF5;
}
