<div class="section7-item3">
  <span class="section7-h4"> {{ title }} </span>
  <div class="section7-flex">
    <h2 class="section7-h2"> {{ titleh2 }} </h2>
    <p class="section7-p"> {{ titlep }} </p>
  </div>
  <p class="section7-p2"> {{titlep2}} </p>
  <div>
    <hr class="section7-hr">
  </div>
  <div class="divclor-flex">
    <div class="divclor"> {{ divclor }} </div>
    <h5 class="divclorh5"> {{ divclorh5 }}</h5>
  </div>
  <div class="divclor-flex1">
    <div class="divclor"></div>
    <h5 class="divclorh5"> {{ divclorh51 }}</h5>
  </div>
  <div class="divclor-flex2">
    <div class="divclor"></div>
    <h5 class="divclorh5"> {{ divclorh52 }}</h5>
  </div>
  <div class="divclor-flex3">
    <div class="divclor"></div>
    <h5 class="divclorh5"> {{ divclorh53 }}</h5>
  </div>
  <button class="section7-button"> {{button}} </button>
</div>
