.section7-item2{
  width: 369px;
  height: 460px;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: revert;
  flex-direction: column;
}
.section7-h4{
  color: #0E1133;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
}
.section7-flex{
  display: flex;
  margin-top: -10px;
  margin-left: 30px;
}
.section7-h2{
  color: #0E1133;
  font-size: 36px;
}
.section7-p{
  margin-top: 50px;
  margin-left: 10px;
  font-size: 14px;
  color: #505056;
}
.section7-p2{
  color: #505056;
  font-size: 14px;
  margin-top: -20px;
  font-weight: 600;
  margin-left: 30px;
}
.section7-hr{
  margin-top: 30px;
  margin-left: 30px;
  width: 300px;
}
.divclor-flex{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
}
.divclor-flex1{
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-left: 30px;
}
.divclor-flex2{
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-left: 30px;
}
.divclor{
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: #31C369;
  opacity: 0.2;
}
.divclorh5{
  color: #505056;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}
.section7-button{
  width: 131px;
  height: 42px;
  background: #F8452D;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  margin-left: 30px;
}
