.section7-item4{
  width: 590px;
  height: 150px;
  border-radius: 5px;
  background: white;
}
.section7-item4-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.section7-item4-div{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2A6DF5;
  margin-right: 20px;
}
.section7-item4-min{
  width: 590px;
  height: 59px;
  border-radius: 5px;
  margin-top: 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titlespan{
  font-size: 18px;
  color: #0E1133;
  font-weight: 600;
  margin-left: 20px;
}
.titlep{
  color: #505056;
  font-size: 14px;
  margin-left: 20px;
}
.titlep1{
  color: #505056;
  font-size: 14px;
  margin-left: 20px;
}
.titlespan1{
  font-size: 18px;
  color: #0E1133;
  font-weight: 600;
  margin-left: 20px;
}
.section7-item4-div1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #EEF4FE;
  margin-right: 20px;
}
