.section9-item1{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 100px;
}
.section9-item1-h3{
  font-size: 50px;
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}
.section9-item1-span{
  font-size: 16px;
  color: white;
}
.section9-item1-top{
 margin-top: 40px;
}
.section9-item1-input{
  width: 354px;
  height: 50px;
  background: white;
  border-radius: 5px;
  border: unset;
}
.section9-item1-button{
  width: 120px;
  height: 50px;
  background: #0E1133;
  color: white;
  border: unset;
  border-radius: 5px;
  font-size: 16px;
}
