<div class="section8-center">
  <span class="section8-span">Latest Blog Posts</span>
  <span class="section8-span1">Different layouts and styles for Blog sections.</span>
</div>
<div class="section8-flex">
  <div class="section8-around">
    <app-section8-item1 titlespan="February 2, 2022" titlea="Saas & App" titlea1="Introducing New Apps Design for our iOS App" titlea2="Read More"></app-section8-item1>
    <app-section8-item2 titlespan="February 2, 2022" titlea="Creative & App" titlea1="How to bring Dolce to your company" titlea2="Read More"></app-section8-item2>
    <app-section8-item3 titlespan="February 2, 2022" titlea="Tutorials" titlea1="17 Effective Ways to Monetize Mobile Apps" titlea2="Read More"></app-section8-item3>
  </div>
</div>
