.title-span{
  font-size: 14px;
  color: #2B70FA;
  font-weight: 600;
}
.title-h3{
  font-size: 44px;
  color: #0E1133;
  margin-top: -20px;
  margin-bottom: 0px;
}
.title-p{
  font-size: 16px;
  color: #505056;
  margin-top: 0px;
}
.title-h3-2{
  color: #0E1133;
  font-size: 20px;
}
.title-p-2{
  color: #505056;
  font-size: 15px;
}
