.section7{
  height: 1300px;
  background: #e6f3ff;
}
.section7-center{
  text-align: center;
}
.section7-h2{
  color: #0E1133;
  font-size: 44px;
  padding-top: 50px;
}
.section7-p{
  color: #505056;
  font-size: 18px;
  margin-top: -30px;
}
.section7-a{
  color: #0E1133;
  font-size: 14px;
  text-decoration: none;
}
.section7-a1{
  color: #0E1133;
  font-size: 14px;
  text-decoration: none;
  margin-left: 50px;
}
.section7-flex{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.section7-around{
  display: flex;
  justify-content: space-around;
  width: 73%;
}
.section7-center-span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.section7-span{
  font-size: 16px;
  color: #505056;
}
.section7-span-a{
  color: #007BFF;
  text-decoration: none;
  font-size: 16px;
}
