<div class="section7">
 <div class="section7-center">
   <h2 class="section7-h2">Choose your plan</h2>
   <p class="section7-p">Engage more users using beautiful pricing page.</p>
   <a class="section7-a" href="">Monthly</a>
   <a class="section7-a1" href="">Yearly</a>
 </div>
  <div class="section7-flex">
    <div class="section7-around">
      <app-section7-item1 title="Fresh" titleh2="$ 12"  titlep="/ monthly" titlep2="Get your 14 day free trial" divclor="" divclorh5="60-day chat history" divclorh51="15 GB cloud storage" button="Choose plan"></app-section7-item1>
      <app-section7-item2 title="Sweet" titleh2="$ 32"  titlep="/ monthly" titlep2="Billed $276 per website annually." divclor="" divclorh5="60-day chat history" divclorh51="15 GB cloud storage" divclorh52="24/7 Support" button="Choose plan"></app-section7-item2>
      <app-section7-item3 title="Juicy" titleh2="$ 122"  titlep="/ monthly" titlep2="Billed $276 per website annually." divclor="" divclorh5="60-day chat history" divclorh51="Data security" divclorh52="100 GB cloud storage" divclorh53="24/7 Support" button="Choose plan"></app-section7-item3>
    </div>
  </div>
  <div class="section7-center">
    <h2 class="section7-h2">Frequently asked questions</h2>
    <p class="section7-p">Different layouts and styles for FAQ sections.</p>
  </div>
  <div class="section7-flex">
    <div class="section7-around">
      <app-section7-item4 titlespan="Where do I usually find FAQs in a page?" titlep="Naff Oxford vagabond in my flat chinwag blatant grub tomfoolery that I bits" titlep1="and bobs up the duff cras boot bevvy no biggie."></app-section7-item4>
      <app-section7-item5 titlespan="Where do I usually find FAQs in a page?" titlep="Naff Oxford vagabond in my flat chinwag blatant grub tomfoolery that I bits" titlep1="and bobs up the duff cras boot bevvy no biggie." ></app-section7-item5>
    </div>
  </div>
  <div class="section7-center-span">
    <span class="section7-span">Can’t find an answer? <a class="section7-span-a" href="">Email us</a></span>
  </div>
</div>
