.section11{
  display: flex;
  justify-content: center;
  background: #EEF1F6;
  height: 128px;
}
.section11-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin-top: 50px;
}
