<div class="section2-title">
 <div class="section2-text-center">
   <h1 class="section2-text-h1">Designed with <br> The applicant in mind.</h1>
   <p class="section2-text-p">The full monty spiffing good time no biggie cack grub fantastic.</p>
 </div>
  <div class="section2-title-flex">
    <app-section2-item title="Searching" description="Mucker plastered bugger all mate morish are."></app-section2-item>
    <app-section2-item title="Designing" description="Mucker plastered bugger all mate morish are."></app-section2-item>
    <app-section2-item title="Building" description="Mucker plastered bugger all mate morish are."></app-section2-item>
    <app-section2-item title="Suporting" description="Mucker plastered bugger all mate morish are."></app-section2-item>
  </div>
</div>


