.section2-title {
  height: 600px;
  background: #EEF1F6;
  margin-top: 50px;
}
.section2-text-center {
  text-align: center;
  padding-top: 100px;
}
.section2-title-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2-text-h1{
  font-size: 44px;
  font-weight: 600;
}
.section2-text-p{
  font-size: 18px;
  color: #505056;
}
